<h2>Test <%= i %></h2>

The dynamic `i` isn't necessary, in fact this partial can be completely empty and the speed difference still occurs. But I wanted to make clear that I am experiencing this in a dynamic situation, so the partial shouldn't be completely cached as a false optimisation.
